* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.centerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
header h1 {
    color: #2090FF;
    padding: 20px 0;
}

.listContainer {
    background-color: rgb(235, 235, 235);
    width: 250px;
}

ul {
    list-style: none;
    height: 300px;
}

ul li {
    padding: 10px;
    background-color: #ADD8E6;
    margin-bottom: 7px;
    width: 250px;
}

ul li:hover {
    cursor: pointer;
}

.unesi {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.unesi #unesiObavezu {
    padding: 5px;
    margin:12px 0px;
}

.unesi #btnDodaj {
    padding: 10px;
    background-color: #1E90FF;
    margin-bottom: 15px;
}

.radioBtns {
    display: flex;
    flex-direction: column;
}

.groupRadio {
    margin-bottom: 10px;
}









