@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #800080;
    --secondary-color: #D8BFD8;
    --dark-color: #320A32;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    /* text-align: center; */
}

.chat-app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}



/* HEADER */

header div {
    margin-bottom: 0.8rem;
    text-align: center;
}

header div h1,
header div h3 {
    color: var(--primary-color);
}


/* NAVIGATION */

.btn {
    /* height: 2.5rem; */
    padding: 0.8rem;
    width: 9.375rem;
    /* width: 23%; */
    font-size: 1.1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--dark-color);
    cursor: pointer;
}


.active {
    background-color: var(--dark-color);
}



/* Chat body */

.primary-color {
    color: purple;
}

.text-color {
    color: #A853A3;
}

.date-color {
    color: rgb(119, 117, 117);
}

#chat-body {
    margin: 1rem 0;
    width: 50%;
    height: 25rem;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
    /* overflow-y: scroll; */
}
#chat-body ul {
    height: 100%;
    padding: 0.3rem;
    overflow-y: scroll; 
    /* display: flex; */
    /* flex-direction: column; */
}

#chat-body ul li {
    margin: 1.2rem 0;
}


.message {
    background-color: #D8BFD8;
    width: 50%;
    padding: 0.5rem;
    border-radius: 0 0 15px 15px;
}

.message-right {
    background-color: #FEE4C3;
    width: 50%;
    /* width: 30rem; */
    padding: 0.5rem;
    border-radius: 0 0 15px 15px;
    float: right;
}

.right {
    overflow: hidden;
}

/* Trash icon */

.message,
.message-right {
    overflow: hidden;
}

.fa-trash-alt {
    color: grey;
    float: right;
    padding: 0 0.5rem;
    cursor: pointer;
}

/* Forms */

#inputs {
    margin-top: 1rem;
    /* width: 50%; */
}

form {
    margin: 1.4rem 0;
}

form input[type="text"] {
    padding: 0.8rem;
    width: 25%;
    border: 1px solid #333;
    border-radius: 10px;
    width: 60%;
}

form input[type="text"]:focus {
    outline: none
}

input[type="submit"] {
    width: 5rem;
}

/* Textarea zadatak */
form textarea {
    padding: 0.4rem;
    /* width: 25%; */
    border: 1px solid #333;
    border-radius: 10px;
    width: 60%;
}

#formMessage {
    display: flex;
    gap: 0.4rem;
}


@media only screen and (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav button {
        margin: 0.5rem 0;
    }

    .btn {
        /* padding: 0.4rem; */
        width: 8rem;
    }
    
    #chat-body {
        width: 100%;
    }


}






/* Update color */

#updateColorBtn {
    width: 8rem;
}

#changeColor {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

input[type="color"] {
    border: 1px solid #333;
    border-radius: 10px;
}