table {
    border-collapse: collapse;
}
tr, th, td {
    border: 1px solid black;
    width: 100px;
    height: 40px;
}
    

.obojen {
    background-color: pink;
}

.obojenLi {
    color: red;
}

span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.siva {
    background-color: grey;
}